/*
/*/

!.gitignore
!/Assets/
!/ProjectSettings/
/Library/
/Assets/Plugins
Library/ArtifactDB
Library/EditorInstance.json
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
Library/ScriptAssemblies/Unity.Rider.Editor.dll
Library/ScriptAssemblies/Unity.TextMeshPro.dll
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
Library/ScriptAssemblies/Unity.Timeline.dll
Library/ScriptAssemblies/Unity.Timeline.Editor.dll
Library/ScriptAssemblies/Unity.VSCode.Editor.dll
Library/ScriptAssemblies/UnityEditor.TestRunner.dll
Library/ScriptAssemblies/UnityEditor.UI.dll
Library/ScriptAssemblies/UnityEngine.TestRunner.dll
Library/ScriptAssemblies/UnityEngine.UI.dll
Library/ShaderCache/EditorEncounteredVariants
Library/SourceAssetDB
Library/StateCache/Hierarchy/b4bf2f-mainStage.json
